/*===========
 Basic color
===========*/
$background1:#F5F5F5;
$background2:#DAD6D4;
$reportbackground:#1F1F1F;

$text1:#0a0a0a;
$text2:#C8C8C8;

$icon1:#4D4D4D;

$blue: #076EFF;

$darkblue: #002D7B;
$lightblue: #F2F4F8;

$yellow: #FEE043;
$black: #222222;

$gray: #2E3340;
$gray2: #666666;
$gray3: #cccccc;

$dark: #000;
$white: #ffffff;
$lightgray: #EAEAEA;
$lightgray2: #E8E8E8;
$darkgray: #464E56;
$beige:#ECE8E1;
$cream: #F6F4F1;

$lightgray3: #DDDDDD;
$lightgray4: #c5c7d3;

$navy: #535c76;

$red: #e8381f;
$gold: #d2a546;


$orange: #EB951F;
$lightbrown: #e9e3d6;
$lightbrown2: #f4f1eb;

$gradation-green: var(--gradient--blue, linear-gradient(92deg, #00cdb4 3.21%, #4cdff3 99.3%));
$gradation-pink: var(--gradient--red, linear-gradient(93deg, #ff5e98 5.63%, #ffce85 99.26%));

/*===========
 boarder & background
 color settings
===========*/
$maincolor: $darkblue;
$companydark: #012667;
$subcolor: $white;
