$spacing0: 0;
$spacinghalf: 4px;
$spacing1: 8px;
$spacing2: 16px;
$spacing3: 24px;
$spacing4: 32px;
$spacing5: 40px;
$spacing6: 48px;
$spacing7: 64px;
$spacing8: 80px;
$spacing9: 96px;
$spacing10: 128px;
$spacing11: 192px;
