$break_point_middle: 999px;
$break_point_min: 415px;
$break_point_375: 375px;
$break_point_560: 560px;
$break_point_650: 650px;
$break_point_768: 768px;
$break_point_pad: 959px;
$break_point_sp: 960px;
$break_point_pc: 960px;
$break_point_1080: 1080px;
$break_point_1120: 1120px;
$break_point_1400: 1400px;
$break_point_1440: 1440px;
$break_point_1960: 1960px;
$break_point_2400: 2400px;
$break_point_ipad: 1112px;
$header_height_sp: 80px;
$header_height_pc: 116px;

$content_padding_sp: 25px;
$content_padding: $spacing10;

$logo_width_sp: 73px;
$logo_width_pc: 121px;

$max_container: 1040px;