.u-ta-l {
  text-align: left;
}
.u-ta-c {
  text-align: center;
}
.u-ta-r {
  text-align: right;
}
.u-ta-lr {
  text-align: left;
  @include min-screen($break_point_middle) {
    text-align: right;
  }
}
.u-ta-j {
  text-align: justify;
  -ms-text-justify: inter-ideograph;
  text-justify: inter-ideograph;
}
