/*=========================
common header
==========================*/
.header{
  width: 100%;
  position: relative;

  & > .inner{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
    z-index: 1;
    @include min-screen($break_point_768) {
      gap: 25px;
      padding: 25px;
      flex-direction: row;
      align-items: center;
    }
  }
  &__logo{
    font-family: $nexus;
    font-size: 2rem;
    font-weight: 600;
    line-height: 1;
    @include min-screen($break_point_pc) {
      font-size: 3rem;
    }
    @include min-screen($break_point_1440) {
      font-size: 2rem;
    }
  }
  
  &__ttl{
  }

  
}

// .l-header {
//   top: 0;
//   left: 0;
//   z-index: 999;
//   width: 100%;
//   height: auto;
//   position: sticky;
//   top: 0;
//   backdrop-filter: blur(12px);
//   background-color: rgba(10, 10, 10, 0.5);

//   @include min-screen($break_point_pc) {
//     height: 57px;
//   }

//   &.is-scroll{
//     .p-header__logo{
//       opacity: 0;
//     }
//   }
//   @keyframes fadein {
//     0% {
//       opacity: 0;
//     }
//     75% {
//       opacity: 1;
//     }
//   }
// }

// .is-menu-open{
//   .l-header{
//     backdrop-filter:none;
//   }
// }

// .l-header__inner {
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   width: 100%;
//   height: 100%;
//   padding: 18px 6%;
//   @include min-screen($break_point_pc) {
//     width: 1005px;
//     margin: 0 auto;
//     padding: 18px 24px;
//   }
// }

// .p-header__logo {
//   transition: .3s;
//   z-index: 999;
//   width: 149px;
  
//   &__link{
//     position: relative;
    
//   }
//   &__desc{
//     font-family: $Urbanist;
//     z-index: 999;
//     font-size: 16px;
//     font-weight: 600;
//     letter-spacing: .04em;
//     color: $maincolor;
//     transition: .5s;
//     @include min-screen($break_point_pc) {
//       font-size: 18px;
//     }
//   }
// }

.is-menu-open{
  .p-header__logo{
    opacity: 0;
  }
}
