.nav{
  &__list{
    display: flex;
    gap: 1em;
  }
  &__link{
    font-family: $nexus;
    @include min-screen($break_point_pc) {
      font-size: 1.6rem;
    }
    @include min-screen($break_point_1440) {
      font-size: 1.4rem;
    }
  }
}