.pager{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  font-family: $nexus;
  font-size: 18px;
  letter-spacing: .2em;
  margin: 30px 0;
  @include min-screen($break_point_768) {
    margin: 60px 0;
  }

  &__link{
    font-size: 24px;
    a{
      font-size: 24px;
    }
  }

  &__top{
    font-weight: 500;
  }
}